.navItemContainer {
  display: flex;
  flex-direction: column;

  &.closed {
    .navItemText,
    .arrowIcon {
      visibility: hidden;
    }

    .navMainItem:hover {
      background-color: rgba(255, 255, 68, 0.8);
      opacity: 1;

      &::after {
        background-color: rgba(255, 255, 68, 0.8);
        content: attr(data-value);
        padding: 1.2rem 2rem;
        position: absolute;
        left: 100px;
        z-index: 1;
        border-color: rgba(128, 128, 123, 0.377);
        border-style: solid;
        border-width: 1px 1px 1px 0;
      }
    }
  }

  &.show {
    background-color: rgba(128, 128, 123, 0.377);
    transition: all 0.5s ease;
  }

  .navMainItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: larger;
    padding: 1.2rem 2rem;

    &:hover {
      opacity: 0.6;
      transition: all 0.5s ease;

      &.active {
        opacity: 1 !important;
        transition: all 0.5s ease;
      }
    }

    &.active {
      background-color: rgba(255, 255, 68, 0.8);
      transition: all 0.5s ease;

      .link {
        color: black;
      }

      .icon {
        color: black !important;
      }
    }

    .link {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      column-gap: 1.5rem;
      text-decoration: none;

      .icon {
        color: white;
        height: 1.8rem;
        width: 1.8rem;
        padding: 0.3 rem;
      }

      .arrowIcon {
        color: white;
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }

  .navSubItems {
    display: flex;
    flex-direction: column;
    font-weight: 400;

    &.hide {
      display: none;
      transition: all 0.5s ease;
    }

    &.show {
      display: flex;
      transition: all 0.5s ease;
    }
  }
}
