.navSubItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: medium;
  padding: 0.8rem 2rem;

  &:hover {
    opacity: 0.6;
    transition: all 0.5s ease;

    &.active {
      opacity: 1;
      transition: all 0.5s ease;
    }
  }

  &.active {
    background-color: rgba(255, 255, 68, 0.8);
    transition: all 0.5s ease;

    .link {
      color: black;
      opacity: 1;
    }
  }

  .link {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-start;
    padding-left: 3.3rem;
    opacity: 0.7;
    text-decoration: none;
  }
}
